    body  
    { 
        min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */ 
        display: flex; /* Convierte el body en un contenedor flex para centrar su contenido */ 
        justify-content: center; /* Centra horizontalmente el contenido del body */ 
        align-items: center; /* Centra verticalmente el contenido del body */ 
        background-image: url(fondologin.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    } 
    
    .contenedor 
    { 
        width: 320px; 
        background-color: rgb(242, 246, 134); 
        border: 2px solid rgb(132, 190, 234);  /* Borde color */ 
        border-radius: 80px;         /* Bordes redondeados (opcional) */ 
        box-shadow: 0 14px 58px rgba(0, 0, 0, 0.2); /* Sombra suave */ 
        padding: 25px; 
        display: grid;
        justify-content: center;
        margin-right: 100px;
        height: 430px;
    }

    .titulo
    {
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        text-shadow: 2px 2px 6px black;
        font-size: 40px;
    }
    

    .derechos
    {
        margin-top: 2px;
        font-family: Arial, sans-serif; 
        font-weight: bold;
        font-size: 12px;
    }

    .imagen
    {
        margin: 0 auto;
        max-height: 80px;
    }

    .datos
    {
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        text-shadow: 1px 1px 6px black;
        font-size: 22px;
    }

    .boton
    {
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        width: 220px;
        height: 30px;
        font-weight: bold;
        border: 3px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        background-color: rgb(132, 190, 234);
    }

    .inputs
    {
        font-size: 17px;
        height: 25px;
    }