    body  
    { 
        min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */ 
        display: flex; /* Convierte el body en un contenedor flex para centrar su contenido */ 
        justify-content: center; /* Centra horizontalmente el contenido del body */ 
        align-items: center; /* Centra verticalmente el contenido del body */ 
        background-image: url(fondologin.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    } 
.divautor
{
    background-color: rgb(237, 249, 161);
    border: white;
    border-radius: 80px;
    width: 550px;
    height: 350px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 1px 1px 19px black;
}

.titulo
{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 90px;
    text-shadow: 2px 2px 6px black;
}

.botones
{
    text-align: center;

}

img
{
    max-height: 40px;
    max-width: 40px;
}