.contenedor
{
    width: 850px;
    background:  rgb(91, 171, 88);
    margin: 0 auto;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    border-radius: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 6px black;
}

.contenedor table
{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    border-collapse: separate;
    border-spacing: 10px 5px;
    background-color: rgb(91, 171, 88);
    border-radius: 15px;
    border: 5px solid rgb(255, 255, 255);
}

.no-contiene
{
    width: 90px;
    height: 65px;
    background-color: #DFE8F1;
    padding: 3px;
    box-shadow: 0 0 20px rgb(112, 191, 211);
    border-radius: 15px;
}

.contenedor-alternativa
{
    display: flex;
    justify-content: center;
}

.caja
{
    width: 80px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background-color: #e0d694;
    border: 1px solid;
    cursor: pointer;
    margin: 2px;
    border-radius: 15px;
}

.resultado
{
    margin: 0 auto;
    width: 500px;
    background-color:  #DFE8F1;
    color: #99AFC7;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

body
{
    background-color: rgb(49, 135, 49);
    background-image: url(fondo.jpg);
}

h1
{
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 6px black;
    text-align: center;
    font-weight: bold;
}

.contiene
{
    color: white;
    font-size: 33px;
}

.arriba
{
    background-color: #e0d694;
    border-radius: 25px;
    width: 200px;
    margin: 0 auto;
}

.botones
{
    margin: 0 auto;
    text-align: center;
}